
<div class="login-card">
<div class="logo">LOGOApp</div>
<form>
<mat-card>
  <!-- <mat-card-header>
    <mat-card-title>logo</mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
      <input matInput placeholder="john">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
      <input matInput placeholder="***" type="password">
    </mat-form-field>

    <router-outlet></router-outlet>
    
  </mat-card-content>
  <mat-card-actions>
    <a href="#" routerLink="/login/forgot-password">Forgot password?</a>
    <button mat-raised-button color="primary" routerLink="/pages/home">login</button>
  </mat-card-actions>
</mat-card>

</form>

<small>Sitename &copy; 2018</small>
</div>
