<div class="login-card">
    <div class="logo">LOGOApp</div>
    <form>
<mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
        <input matInput placeholder="john@email.com">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
        <input matInput placeholder="***" type="new password">
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="***" type="Confirm password">
      </mat-form-field>
  
      <router-outlet></router-outlet>
      
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/login">Reset Password</button>
    </mat-card-actions>
  </mat-card>
</form>
<small>Sitename &copy; 2018</small>
</div>

